<section>

  <div id='favgames'>
    
    <form action="/favorites/favgames?_method=DELETE" method="POST">
      <fieldset>
        <img src="<%= game.image_url %>">
        <h1><%= game.gamename %></h1>
        <h3>Min Players: <%= game.min_players %> / Max Players: <%= game.max_players %></h3>
        
    
        <input type="hidden" name="gameid" value="<%=game.gameid%>">
        <input type="hidden" name="image_url" value="<%=game.image_url%>">
        <input type="hidden" name="name" value="<%= game.gamename %>">
        <input type="hidden" name="min_players" value="<%= game.min_players %>">
        <input type="hidden" name="max_players" value="<%= game.max_players %>">
        
    
        <button id="remBG" type="submit"><img src = "../img/deletebutton.png" height="50" width="100"></button>
      </fieldset>
    </form>
  </div>

</section>