<section>

<img src = "<%= game.image %>">
<h1><%= game.name %></h1>
<h3>Min Players: <%= game.min_players %> / Max Players: <%= game.max_players %></h3>
<p><%= game.description %></p>
<p><button id="delBG" type="submit">Remove Game</button></p>

</section>