<section>
  <form id="addtosavedTrivia" action="/triviafavs/deletetrivia?_method=DELETE" method="POST">
    <fieldset>
      <h2><%=triviaquestions.question%></h2>
      <h3><%=triviaquestions.correctanswer%></h3>




      <input type="hidden" name="question" value="<%= triviaquestions.question %>">
      <input type="hidden" name="answer" value="<%= triviaquestions.correctanswer %>">
      <input type="hidden" name="category" value="<%= triviaquestions.category %>">
      <button class="deleteButton" type="submit"><img src="../img/deletebutton.png"></button>
    </fieldset>
    
  </form>

</section>