<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
  <title>Board Games</title>
</head>

<body>
  <header>
    <%- include('../layout/header') %>
</header>

<div class="container">
  <div class="subheader"><h1>BOARD GAMES</h1></div>

    <form class="flex-form" action="/gameresults" method="POST">
      <div class="board-search-container">
        <h2>Find Games By</h2>
        <input type="radio" name="orderby" value="trending" id="trending">
        <label for="trending">Trending</label>
        <br>
        <input type="radio" name="orderby" value="rank" id="rank">
        <label for="rank">Rank</label>
      </div>
      <div class="board-search-container">
        <h2>Or Search by Title</h2>
        <input type="text" name="gamename" placeholder="Title of Game" id="boardsearch">
      </div>
        <button id="boardgames" type="submit">Search Games</button>
    </form>

    <% if (typeof(gameInfo) !== 'undefined') { %>
    <% gameInfo.forEach(game => { %>
    <form id="addGame" action="/favorites" method="POST">
      <fieldset>
        <img src="<%= game.image_url %>">
        <h2>Name: <%= game.name %> </h2>
        <h3>Rank: <%= game.rank %> || Trending: <%= game.trending %></h3>
        <h3>Min Players: <%= game.min_players %> / Max Players: <%= game.max_players %></h3>
        <p><%= game.description %></p>
    
        <input type="hidden" name="gameid" value="<%=game.gameid %>">
        <input type="hidden" name="image_url" value="<%=game.image_url %>">
        <input type="hidden" name="name" value="<%= game.name %>">
        <input type="hidden" name="min_players" value="<%= game.min_players %>">
        <input type="hidden" name="max_players" value="<%= game.max_players %>">
        <input type="hidden" name="description" value="<%= game.description %>">
    
        <button type="submit">Save Game</button>
      </fieldset>
    </form>
    
    <% }) %>
    <% } %>
  </div>

</div>
</body>

</html>