<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
  <title>Favorites</title>
</head>

<body>
  <header>
    <%- include('../layout/header') %>
</header>

  <div id = "favHeader"><h1>FAVORITES</h1> </div>
  

  
  <main>

    <section class = "fav-boxes">
    



     

      <div id="hotairballoon">
        <div id="balloon"><img src="../img/hotair.png"></div>
      </div>

      <!-- Trivia Partial -->
      <div id="fav-b" class="fav-outer">
        <div class="fav-inner">
          <a href="/trivia" class="favLink">
            <div class="favTitle">Trivia</div>
          </a>
          <% trivia.forEach(triviaquestions => { %>
          <%- include('../partials/savedtrivia', { triviaquestions }) %>
          <% }) %>
        </div>
      </div>

      <!-- Board Games Partial -->
      <div id="fav-c" class="fav-outer">
        <div class="fav-inner">
          <a href="/boardgames" class="favLink">
            <div class="favTitle">Board Games</div>
          </a>
          <% boardgames.forEach(game => { %>
          <%- include('../partials/favgames', { game }) %>
          <% }) %>
        </div>
      </div>

      <!-- Playlist Partial -->
      <div id="fav-d" class="fav-outer">
        <div class="fav-inner">
          <a href="/playlist" class="favLink">
            <div class="favTitle">Playlist</div>
          </a>
          <%- include('../partials/playlist', { playlist }) %>
        </div>
      </div>

    </section>
  </main>
</body>

</html>