<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
  <title>Favorites</title>
</head>

<body>
  <header>
    <%- include('../layout/header') %>
  </header>

  <div class="navbar">
    <div class="nav">
      <div id="home"><img src="../img/homebutton.png"></div>
      <div id="search"><img src="../img/searchbutton.png"></div>
      <div id="about"><img src="../img/aboutbutton.png"></div>
      <div id="fav"><a href="/favorites"><img src="../img/favbutton1.png"></a></div>
    </div>
  </div>
  
  <main>
    <section class = "fav-boxes">

      <div id = "fav-a"><h1>FAVORITES</h1></div>
      
      <div id="decoration1"></div>
     
      <div id="hotairballoon">
        <div id="balloon"><img src="../img/hotair.png"></div>
      </div>

      <!-- Trivia Partial -->
      <div id="fav-b"class="fav-outer">
        <div class="fav-inner">
          <% trivia.forEach(triviaquestions => { %>
          <%- include('../partials/savedtrivia', { triviaquestions }) %>
          <% }) %>
        </div>
      </div>

      <!-- Board Games Partial -->
      <div id="fav-c" class="fav-outer">
        <div class="fav-inner">
          <% boardgames.forEach(game => { %>
          <%- include('../partials/favgames', { game }) %>
          <% }) %>
        </div>
      </div>

      <!-- Playlist Partial -->
      <div id="fav-d" class="fav-outer">
        <div class ="fav-inner">
          <%- include('../partials/playlist', { playlist }) %>
        </div>
      </div>

    </section>
  </main>
</body>

</html>