<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
  <title>Favorites</title>
</head>

<body>
  <header>

    <div id ="header"><h1>GAME NIGHT</h1></div>
 
  
  <div class="navbar">
    <div class = "nav">
    <div id="home"><a href="/"><img src="../img/homebutton.png"></a></div>
    <div id="about"><a href="/aboutus"><img src="../img/aboutbutton.png"></a></div>
    <div id="fav"><a href="/favorites"><img src="../img/favbutton1.png"></a></div>
    <div id="playlist-nav"><a href="/playlist"><img src="../img/playlist-button-nav.png"></a></div>
    <div id="boardgame-nav"><a href="/boardgames"><img src="../img/boardgame-button-nav.png"></a></div>
    <div id="trivia-nav"><a href="/trivia"><img src="../img/trivia-button-nav.png"></a></div>
  </div>
  
 
</header>

  <div id = "favHeader"><h1>FAVORITES</h1> </div>
  <br>
  <br>
  <hr>
  
  <main>

    <section class = "fav-boxes">
    

    <%- include('../layout/header') %>

     
      <div id="hotairballoon">
        <div id="balloon"><img src="../img/hotair.png"></div>
      </div>

      <!-- Trivia Partial -->
      <div id="fav-b"class="fav-outer">
        <div class="fav-inner">
          <% trivia.forEach(triviaquestions => { %>
          <%- include('../partials/savedtrivia', { triviaquestions }) %>
          <% }) %>
        </div>
      </div>

      <!-- Board Games Partial -->
      <div id="fav-c" class="fav-outer">
        <div class="fav-inner">
          <% boardgames.forEach(game => { %>
          <%- include('../partials/favgames', { game }) %>
          <% }) %>
        </div>
      </div>

      <!-- Playlist Partial -->
      <div id="fav-d" class="fav-outer">
        <div class ="fav-inner">
          <%- include('../partials/playlist', { playlist }) %>
        </div>
      </div>

    </section>
  </main>

  <footer>
    <div id ="footer"></div>
  </footer>
</body>

</html>