<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
  <title>Game Search Results</title>
</head>
<body>
  <header><h1><a href="/">Choose Board Games</a></h1></header>
  <div class='container'>
    <% gameInfo.forEach(game => { %>
      <form action="/favorites/<%= game.gameid %>" method="POST">
      <img src = "<%= game.image %>">
      <h2><%= game.name %></h2>
      <h3>Min Players: <%= game.min_players %> / Max Players: <%= game.max_players %></h3>
      <p><%= game.description %></p>
      <button id="addBG" type="submit">Save Game</button>
    </form>
   <% }) %>
  </div>
</body>
</html>