<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
  <title>Game Search Results</title>
</head>
<body>

  <div id ="header"><h1>GAME NIGHT</h1></div>
  <div id = boardGameHeader><h1>BOARD GAMES</h1> </div>
  <div class='container'>
   
    <% gameInfo.forEach(game => { %>
      
      <form id="addGame" action="/favorites" method="POST">
        <fieldset>
          <img src="<%= game.image_url %>">
          <h2>Name: <%= game.name %> </h2>
          <h3>Rank: <%= game.rank %> || Trending: <%= game.trending %></h3>
          <h3>Min Players: <%= game.min_players %> / Max Players: <%= game.max_players %></h3>
          <p><%= game.description %></p>
      
          <input type="hidden" name="gameid" value="<%=game.gameid %>">
          <input type="hidden" name="image_url" value="<%=game.image_url %>">
          <input type="hidden" name="name" value="<%= game.name %>">
          <input type="hidden" name="min_players" value="<%= game.min_players %>">
          <input type="hidden" name="max_players" value="<%= game.max_players %>">
          <input type="hidden" name="description" value="<%= game.description %>">
      
          <button id="addBG" type="submit">Save Game</button>
        </fieldset>
      </form>

   <% }) %>
  </div>
</body>
</html>