<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Search Results</title>
</head>
<body>
  <h1>Game Search Results</h1>
  <div id='gameresults'>
    <% gameInfo.forEach(game => { %>
      
      <img src = "<%= game.image %>">
      <h1><%= game.name %></h1>
      <h3>Min Players: <%= game.min_players %> / Max Players: <%= game.max_players %></h3>
      <p><%= game.description %></p>
      
   <% }) %>
  </div>
</body>
</html>