<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
  <title>Playlist</title>
</head>

<body>
  <header>
    <%- include('../layout/header') %>
  </header>

  <div class="subheader">
    <h1>PLAYLIST</h1>
  </div>

  <div class="container">
    <form action="/playlist" method="POST">
      <input type="text" name="search" placeholder="Enter search phrase">
      <button type="submit">Search</button>
    </form>

    <% if (typeof(playlists) !== 'undefined') { %>
    <% playlists.forEach(playlist => { %>

    <section id="search-result">

      <h2><%= playlist.name %></h2>
      <img class ="playlist-img" src="<%= playlist.image %>"></img>
      <span><iframe src="https://open.spotify.com/embed/playlist/<%= playlist.spotifyId %>" width="300" height="380"
        frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></span>

      <form action="/favorites/playlist" method="POST">
        <input type="hidden" name="name" value="<%= playlist.name %>">
        <input type="hidden" name="description" value="<%= playlist.description %>">
        <input type="hidden" name="url" value="<%= playlist.url %>">
        <input type="hidden" name="image" value="<%= playlist.image %>">
        <input type="hidden" name="spotifyId" value="<%= playlist.spotifyId %>">
        <button type="submit">Save Playlist</button>
      </form>

    </section>
    <% }) %>
    <% } %>

  </div>
</body>

</html>