<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
  <title>Playlist</title>
</head>

<body>
  <header id="header">
    <h1><a href="/">Find a Playlist</a></h1>
  </header>
  <div id="playlist-container">
    <form action="/playlist" method="POST" id="playlist-form">
      <input type="text" name="search" placeholder="Add a search phrase">
      <button type="submit">Search</button>
    </form>


    <% if (typeof(playlists) !== 'undefined') { %>
    <% playlists.forEach(playlist => { %>
    <section id="playlist">
      <h2><%= playlist.name %></h2>
      <img src="<%= playlist.image %>" height="380px"></img>
      <iframe src="https://open.spotify.com/embed/playlist/<%= playlist.spotifyId %>" width="300" height="380"
        frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

      <form action="/favorites/playlist" method="POST">
        <input type="hidden" name="name" value="<%= playlist.name %>">
        <input type="hidden" name="description" value="<%= playlist.description %>">
        <input type="hidden" name="url" value="<%= playlist.url %>">
        <input type="hidden" name="image" value="<%= playlist.image %>">
        <input type="hidden" name="spotifyId" value="<%= playlist.spotifyId %>">
        <button type="submit">Save Playlist</button>
      </form>

    </section>
    <% }) %>
    <% } %>

  </div>

</body>

</html>